<form>
    {{validated-input model=model valuePath='firstName' placeholder='First Name' class=valueClass}}
    {{validated-input model=model valuePath='lastName' placeholder='Last Name' class=valueClass}}
    {{validated-input model=model valuePath='email'}}
</form>
